/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* ---------------------------------------- */

@font-face {
	src: url('font/Hanken_Grotesk/static/HankenGrotesk-Regular.ttf');
	font-family: 'hankenGrotesk';
}

@font-face {
	src: url('font/Hanken_Grotesk/static/HankenGrotesk-Bold.ttf');
	font-family: 'hankenGroteskBold';
}

body {
	font-family: 'hankenGrotesk';
}


.hero-section {
    height: 600px;
    background: url(img/hero-img2.jpg);
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	padding-top: 20px;
	box-sizing: border-box;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-logo {
	font-size: 20px;
	display: flex;
	align-items: center;
	font-weight: bold;
	color: white;
}

.nav-logo img {
	width: 40px;
	margin-right: 10px;
	color: white;
}

.nav-list{
	display: flex;
}

.nav-list li{
	margin-right: 60px;
	box-sizing: border-box;
	font-size: 18px;
}

.nav-list li a{
	text-decoration: none;
	color: white;
}

.nav-list li a:hover {
	color: rgb(204, 201, 201);
}


/* ------------------------ */

.center-hero {
	/* background-color: aqua; */
	width: 60%;
	margin: 30vh auto;
	text-align: center;
	color: white;
}

.center-hero h1 {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 30px;
}

.center-hero p {
	width: 80%;
	margin: auto;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;
}

.btn-section button{
	text-decoration: none;
	border: 1px solid white;
	border-radius: 10px;
	width: 180px;
	padding: 10px 0;
	margin: 0 20px;
	font-size: 14px;
}

.btn-section button a {
	text-decoration: none;
	color: black;
}

.btn-section .transparan a {
	color: white;
}

.btn-section .transparan {
	background-color: transparent;
}

.btn-section button:hover {
	cursor: pointer;
}



/* ---------------------------------- */

/* #FFBB0D */

.fitur-section {
	/* background-color: aqua; */
	width: 75%;
	margin: 150px auto;
	text-align: center;
}

.fitur-section p {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #FFBB0D;
}

.fitur-section h1 {
	margin: 20px auto;
	font-size: 45px;
	font-weight: bolder;
	width: 50%;
}

.icon-group {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
}

.icon {
	width: 250px;
}

.icon img {
	margin-bottom: 20px;
}


/* -------------------------------- */


.section-kegiatan {
	width: 90%;
	background-color: #da9d01;
	margin: 150px auto;
	padding: 50px;
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
}

.section-kegiatan > p {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}

.section-kegiatan h1 {
	margin: 20px auto;
	font-family: 'hankenGroteskBold';
	font-size: 40px;
	font-weight: bold;
	color: white;
	width: 60%;
}

.cards {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.card {
	width: 30%;
	padding: 25px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: white;
	text-align: left;
}

.card h3 {
	font-family: 'hankenGroteskBold';
	font-size: 25px;
	font-weight: bold;
}

.card p {
	margin: 20px 0;
}

.card img {
	width: 100%;
	height: 200px;
	border-radius: 10px;
}